@import url('https://fonts.googleapis.com/css2?family=Lusitana:wght@700&display=swap');

$gradient: linear-gradient(90deg, #A1C4FD 40%, #C2E9FB 100%);
$blob-color: #53D7BF;
$black: #333333;
$font: 'Lusitana', sans-serif;;
$text-back: #FCD508;

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

body {
   font-family: $font;
   overflow-x: hidden;
}

html {
    font-size: 10px;
}


a {
   color: $black;
   font-weight: bold;
   text-decoration: none;
}

.header {
   position: fixed;
   top: 0;
   right: 0;
   width: 100%;
   z-index: 3;
   font-size: 2rem;
}

.header ul {
   margin: 0;
   padding: 0;
   list-style: none;
   overflow: hidden;
   background-color: #fff;
}

.header li a {
   display: block;
   padding: 20px 20px;
   text-decoration: none;
}

.menu span {
  position: relative;
}

.menu span::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #fc2f70;
  transform-origin: center;
  transform: translate(-50%, 0) scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.menu span:hover::before {
  transform: translate(-50%, 0) scaleX(1);
}

.header .logo {
   display: block;
   float: left;
   font-size: 2em;
   padding: 10px 20px;
   text-decoration: none;
}

.header .menu {
   clear: both;
   max-height: 0;
   transition: max-height .2s ease-out;
}

.header .menu-icon {
   cursor: pointer;
   float: right;
   padding: 28px 20px;
   position: relative;
   user-select: none;
}

.header .menu-icon .navicon {
   background: #333;
   display: block;
   height: 2px;
   position: relative;
   transition: background .2s ease-out;
   width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
   background: #333;
   content: '';
   display: block;
   height: 100%;
   position: absolute;
   transition: all .2s ease-out;
   width: 100%;
}

.header .menu-icon .navicon:before {
   top: 5px;
}

.header .menu-icon .navicon:after {
   top: -5px;
}

.header .menu-btn {
   display: none;
}

.header .menu-btn:checked~.menu {
   max-height: 640px;
}

.header .menu-btn:checked~.menu-icon .navicon {
   background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
   transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
   transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
   top: 0;
}

@media (min-width: 55em) {
   .header li {
      float: left;
   }

   .header li a {
      padding: 20px 30px;
   }

   .header .menu {
      clear: none;
      float: right;
      max-height: none;
   }

   .header .menu-icon {
      display: none;
   }
}

.vector_1{
   z-index: -9999;
}

.vector_2{
   z-index: -9999;
}

.room {
    width: 100%;
    height: 100vh;
    margin-top: 3rem;
    
    &__image {
        position: absolute;
        z-index: -1;
    }

    &__title {
        padding: 10rem 8rem;
        font-size: 4.6rem;
        color: $black;


        span {
            position: relative;
        }
        span::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 50%;
            background: $text-back;
            z-index: -1;
        }
   }

   &__items {
      width: 100%;
      display: grid;
      justify-items: center;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      grid-template-columns: repeat(auto-fit, minmax(339px, 1fr));
      grid-gap: 10px;

      .room__item {
         display: flex;
         flex-direction: column;
         justify-content: space-around;
         height: 720px;

         &-image {
            border-radius: 10px;
         }

         &-title {
            font-size: 3.6rem;
            font-weight: bold;
            width: 150px;
         }

         &-desc {
            font-size: 1.8rem;
            width: 306px;
         }

         &-button {
            border-radius: 20px;
            width: 140px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #333;
            cursor: pointer;
            transition: all .3s ease;
         }

         &-button:hover {
            width: 150px;
            height: 55px;
         }

         &-button a{
            color: #fff;
            font-size: 1.6rem;
         }
      }
   }

   &__buttons {
      padding: 5rem 15rem;
      font-size: 4.8rem;
      i {
         margin: .5rem;
         cursor: pointer;
      }
   }
}



.white {
   background-color: white !important;
}